config.stopBubbling = true

lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true

lombok.data.flagUsage = error
lombok.var.flagUsage = error
lombok.val.flagUsage = warning
lombok.sneakyThrows.flagUsage = error
lombok.cleanup.flagUsage = error
lombok.experimental.flagUsage = warning

lombok.equalsAndHashCode.callSuper = warn
lombok.toString.callSuper = warn
